#This is a Skaffold configuration, which lets developers continuously push new images to their development namespaces.
apiVersion: skaffold/v2alpha4
kind: Config
build:
  artifacts:
  - image: gcr.io/terra-kernel-k8s/kernel-service-poc
    context: ../
    jib: {}
deploy:
  kustomize:
    paths:
    - terra-config/NAMESPACE/kernel-service-poc
